<div class="p-3">
    @if (loggedIn) {
    <h1 class="text-4xl mb-4">Tạo khuyến mãi</h1>
    @if (generatorBrandSetting?.voucherForms) {
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Thông tin chung</mat-panel-title>
            <mat-panel-description>Thông tin chung của khuyến mãi</mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="w-full lg:w-1/2">
            <mat-label>Mã khuyến mãi</mat-label>
            <input type="text" matInput required [(ngModel)]="voucher.id"
                (ngModelChange)="voucher.qrData = voucher.id" />
            <span matTextPrefix>{{generatorBrandSetting?.id}}-</span>
        </mat-form-field>
        <mat-form-field class="w-full lg:w-1/2">
            <mat-label>Tên gọi khuyến mãi</mat-label>
            <input type="text" matInput required [(ngModel)]="voucher.name" />
        </mat-form-field>
    </mat-expansion-panel>
    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
            <mat-panel-title>Thiết kế</mat-panel-title>
            <mat-panel-description>Thiết kế của khuyến mãi</mat-panel-description>
        </mat-expansion-panel-header>
        <div>
            <mat-form-field class="w-full lg:w-1/2">
                <mat-label>Mã hình nền</mat-label>
                <input type="text" matInput required [(ngModel)]="voucher.background"
                    (ngModelChange)="onAddBackground()" />
                <mat-hint>Id của ảnh trên Google Drive</mat-hint>
            </mat-form-field>
            @if (voucher?.sharedBackground) {
            Hãy truy cập ngay: <a [href]="voucher?.sharedBackground" [target]="'_blank'"
                class="underline text-[red]">{{voucher?.sharedBackground}}</a> để lấy <strong>Mã
                hình nền </strong>chính xác.
            }
            <mat-form-field class="w-full lg:w-1/2">
                <mat-label>Mã/liên kết hình nền <strong class="text-[red]">chính xác</strong></mat-label>
                <input type="text" matInput required [(ngModel)]="voucher.correctBackground"
                    (ngModelChange)="onAddBackground()" />
            </mat-form-field>
            <mat-form-field class="w-full lg:w-1/2">
                <mat-label>Kích thước hình ảnh khuyến mãi</mat-label>
                <input type="text" disabled matInput required [(ngModel)]="voucher.size" />
                <mat-hint [innerText]="'\<ngang\>x\<dọc\>'"></mat-hint>
            </mat-form-field>
            <mat-form-field class="w-1/2 lg:w-1/4">
                <mat-label>Kích thước mã QR trong khuyến mãi</mat-label>
                <input type="number" matInput required [(ngModel)]="voucher.qrSize" (ngModelChange)="updateQr()" />
                <mat-hint [innerText]="'hình vuông'"></mat-hint>
            </mat-form-field>
            <mat-form-field class="w-1/2 lg:w-1/4">
                <mat-label>Tọa độ mã QR trong khuyến mãi</mat-label>
                <input type="text" matInput required [(ngModel)]="voucher.qrPosition"
                    (ngModelChange)="updateQrPosition()" />
                <mat-hint [innerText]="'\<x\>:\<y\>'"></mat-hint>
            </mat-form-field>
        </div>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>Khuyến mãi tích điểm</mat-panel-title>
                <mat-panel-description>Thiết kế của khuyến mãi tích điểm</mat-panel-description>
            </mat-expansion-panel-header>
            <div>
                <mat-form-field class="w-full lg:w-1/2">
                    <mat-label>Mã tick</mat-label>
                    <input type="text" matInput [(ngModel)]="voucher.tickId" (ngModelChange)="updateTickImage()" />
                </mat-form-field>

                @if (voucher?.shareTick) {
                Hãy truy cập ngay: <a [href]="voucher?.shareTick" [target]="'_blank'"
                    class="underline text-[red]">{{voucher?.shareTick}}</a> để lấy <strong>Mã
                    tick </strong>chính xác.
                }
                <mat-form-field class="w-full lg:w-1/2">
                    <mat-label>Mã/liên kết tick <strong class="text-[red]">chính xác</strong></mat-label>
                    <input type="text" matInput [(ngModel)]="voucher.correctTick" (ngModelChange)="updateTickImage()" />
                </mat-form-field>
                @if (voucher?.tickImage) {
                <img [src]="voucher?.tickImage" class="h-8" alt="tickImage" (load)="uploadTick($event)">
                }
                <div class="w-full flex flex-wrap">
                    @for (item of voucher?.ticks; track item; let index = $index) {
                    <mat-form-field class="w-1/2 lg:w-1/6">
                        <mat-label>Kích thước tick {{index + 1 | number: '2.0-0'}}</mat-label>
                        <input type="number" matInput [(ngModel)]="item.size" (ngModelChange)="uploadTick(item)" />
                        <mat-hint [innerText]="'hình vuông'"></mat-hint>
                    </mat-form-field>
                    }
                    @if (voucher?.tickImage) {
                    <button mat-stroked-button [color]="'primary'" class="w-1/2 lg:w-1/6"
                        (click)="uploadTick('add')">Thêm
                        tick</button>
                    }
                </div>

            </div>
        </mat-expansion-panel>
        @if (downloading) {
        <div class="absolute top-0 right-0 bottom-0 left-0 flex justify-center items-center">
            <mat-spinner></mat-spinner>
        </div>
        }
        <app-voucher-image [voucher]="voucher" (updateImageSize)="updateImageSize($event)"
            (updateQrPosition)="updateQrPosition($event)"
            (uploadTick)="uploadTick($event?.event, $event.item)"></app-voucher-image>

        <div class="text-center">
            <button mat-raised-button color="primary" (click)="saveData()"
                [disabled]="downloading"
                class="w-full">
                <mat-icon>save</mat-icon> Lưu Dữ Liệu Mẫu Khuyến Mãi
            </button>
        </div>
        @if (googleFormsPath) {
        <button class="w-full" mat-stroked-button [color]="'primary'" (click)="googleFormsPath = ''">Đóng biểu
            mẫu</button>
        <div><strong class="text-[red]">LƯU Ý:</strong> Hãy Ấn nút "Gửi" hoặc "Submit" trong Biễu Mẫu bên dưới 👇👇👇
            thì bạn mới hoàn thành việc đăng ký nhé!</div>
        <div><strong class="text-[red]">LƯU Ý:</strong> Mỗi khi hoàn thành việc tạo bạn nhớ ấn nút "Đóng biểu mẫu để làm
            mới nhé!"</div>
        <iframe [src]="googleFormsPath | safe" class="w-full min-h-96" frameborder="0"></iframe>
        <div><strong class="text-[red]">LƯU Ý:</strong> Hãy Ấn nút "Gửi" hoặc "Submit" trong Biễu Mẫu bên trên 👆👆👆
            thì bạn mới hoàn thành việc đăng ký nhé!</div>
        <div><strong class="text-[red]">LƯU Ý:</strong> Mỗi khi hoàn thành việc tạo bạn nhớ ấn nút "Đóng biểu mẫu để làm
            mới nhé!"</div>
        }
    </mat-expansion-panel>
    } @else {
    <div class="h-full flex justify-center items-center flex-col">
        <div>Đang tìm kiếm biểu mẫu tạo khuyến mãi của bạn</div>
        <mat-spinner></mat-spinner>
    </div>
    }
    }
</div>