<div class="min-h-full flex flex-col justify-center items-center">
    <div class="w-full lg:w-1/2 bg-white p-6 rounded-lg">
        <h1 class="text-center text-2xl">ĐĂNG NHẬP</h1>
        <div class="text-center mb-4"></div>
        @if (users?.length > 0) {
        <mat-form-field class="w-full">
            <mat-label>Thương hiệu</mat-label>
            <mat-select [(ngModel)]="login.brand">
                @for(item of users; track item) {
                <mat-option [value]="item">{{item?.brand}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        }
        <mat-form-field class="w-full">
            <mat-label>Tên người dùng</mat-label>
            <input type="text" [disabled]="users?.length == 0" matInput required [(ngModel)]="login.userName" />
        </mat-form-field>
        <mat-form-field class="w-full">
            <mat-label>Mật khẩu</mat-label>
            <input type="password" [disabled]="users?.length == 0" matInput required [(ngModel)]="login.password" />
        </mat-form-field>
        @if (errorMessage) {
            <div class="text-[red] mb-4">{{errorMessage}}</div>
        }
        <div class="text-center">
            <button [disabled]="
            !login.userName" mat-flat-button [color]="'primary'" (click)="onLogin()">ĐĂNG NHẬP</button>
        </div>
    </div>
</div>