<div class="absolute top-0 right-0 bottom-0 left-0 flex flex-col">
  <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
      (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a href="/">
      <h1>VOUCODE</h1>
    </a>
    <span class="flex-1"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="relative">
      <mat-icon>account_circle</mat-icon>
      @if(loggedIn) {
      <div class="absolute bg-[#f8c861] h-3 w-3 rounded-full top-7"></div>
      }
    </button>
    <mat-menu #menu="matMenu">
      @if (!loggedIn) {
      <button mat-menu-item [routerLink]="'/dang-ky'">Đăng ký</button>
      <button mat-menu-item [routerLink]="'/dang-nhap'">Đăng nhập</button>
      }
      @if (loggedIn) {
      <button mat-menu-item (click)="onLogout()">Đăng xuất</button>
      }
    </mat-menu>
  </mat-toolbar>
  <mat-drawer-container class="example-container flex-1" autosize>
    <mat-drawer #drawer class="example-sidenav !border-r-0" [mode]="sideNavMode || 'side'" [opened]="isShowNavBar">
      <a href="/" class="block text-center p-3">
        <h1>VOUCODE</h1>
      </a>
      <mat-list role="list">
        <mat-list-item role="listitem" class="h-6 p-6" [routerLinkActive]="'!bg-[#F8C861]'" [routerLink]="'/'">Quét
          Khuyến Mãi</mat-list-item>
        @if (loggedIn) {
        <mat-list-item role="listitem" class="h-6 p-6" [routerLinkActive]="'!bg-[#F8C861]'"
          [routerLink]="'/khuyen-mai'">Phát Khuyến Mãi</mat-list-item>
        }
        @if (loggedIn) {
        <mat-list-item role="listitem" class="h-6 p-6" [routerLinkActive]="'!bg-[#F8C861]'" [routerLink]="'/tao'">Tạo
          Khuyến Mãi</mat-list-item>

        }
        @if (loggedIn) {
        <mat-list-item role="listitem" class="h-6 p-6" [routerLinkActive]="'!bg-[#F8C861]'"
          [routerLink]="'/khach-hang'">Khách hàng</mat-list-item>
        }
        <mat-list-item role="listitem" class="h-6 p-6" [routerLinkActive]="'!bg-[#F8C861]'"
          [routerLink]="'/google-drive-correct-link'">
          Xác định liên kết Google Drive
        </mat-list-item>
      </mat-list>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>