<div class="min-h-full flex justify-center flex-col lg:flex-row">
    @if (loggedIn) {
    @if (customerBrandSetting?.customerForms) {
    <div class="w-full lg:w-1/2 bg-white p-6 rounded-lg">
        <h1 class="text-center text-2xl">PHÁT KHUYẾN MÃI</h1>
        <mat-form-field class="w-full">
            <mat-label>Chọn chương trình</mat-label>
            <mat-select required [(ngModel)]="voucher.voucher" (ngModelChange)="updateValue()">
                @for(item of vouchers; track item) {
                <mat-option [value]="item">{{item?.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        @if (vouchers?.length == 0) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <mat-form-field class="w-full">
            <mat-label>Chọn khách hàng</mat-label>
            <mat-select required [(ngModel)]="voucher.customerId" (ngModelChange)="updateValue()">
                @for(item of customers; track item) {
                <mat-option [value]="item?.id">{{item?.name}}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        @if (customers?.length == 0) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }
        <div class="text-center">
            <button mat-flat-button [color]="'primary'" (click)="onConfirmCreateVoucher()">XÁC NHẬN</button>
        </div>
        @if (googleFormsPath) {
        <button class="w-full" mat-stroked-button [color]="'primary'" (click)="googleFormsPath = ''">Đóng biểu
            mẫu</button>
        <div><strong class="text-[red]">LƯU Ý:</strong> Hãy Ấn nút "Gửi" hoặc "Submit" trong Biễu Mẫu bên dưới 👇👇👇
            thì bạn mới hoàn thành việc đăng ký nhé!</div>
        <div><strong class="text-[red]">LƯU Ý:</strong> Mỗi khi hoàn thành việc tạo bạn nhớ ấn nút "Đóng biểu mẫu để làm
            mới nhé!"</div>
        <iframe [src]="googleFormsPath | safe" class="w-full min-h-96" frameborder="0"></iframe>
        <div><strong class="text-[red]">LƯU Ý:</strong> Hãy Ấn nút "Gửi" hoặc "Submit" trong Biễu Mẫu bên trên 👆👆👆
            thì bạn mới hoàn thành việc đăng ký nhé!</div>
        <div><strong class="text-[red]">LƯU Ý:</strong> Mỗi khi hoàn thành việc tạo bạn nhớ ấn nút "Đóng biểu mẫu để làm
            mới nhé!"</div>
        }
    </div>
    @if(voucher.customerId && voucher.voucherId) {
    <app-voucher-image class="w-full lg:w-1/2" [voucher]="voucher?.voucher" [readonly]="true"></app-voucher-image>
    }
    } @else {
    <div class="flex flex-col items-center justify-center">
        <div>Đang tìm kiếm biểu mẫu tạo khách hàng của bạn</div>
        <mat-spinner></mat-spinner>
    </div>
    }
    }
</div>